packages/
ShootyShootyBangBangEngine/obj/
ShootyShootyBangBangEngine/bin/Debug/libenet.dylib
ShootyShootyBangBangEngine/bin/
ShootyShootyBangBang/obj/
ShootyShootyBangBang/bin/
.vs/ShootyShootyBangBang/v15/
.vs/ShootyShootyBangBang/v16/
